################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TravelExperts/.vs/TravelExperts/v15/Server/sqlite3/db.lock
/TEDesktopApp/TEDesktopApp/.vs/TEDesktopApp/v15/Server/sqlite3/db.lock
